<div class="wrapper">
    <div class="container-animation">
        <ul class="circles">
            <li>Payments</li>
            <li>Credits</li>
            <li>Cards</li>
            <li>Transfers</li>
            <li>News</li>
            <li>Credits</li>
            <li>Transfers</li>
            <li>Cards</li>
            <li>News</li>
            <li>Payments</li>
            <li>Credits</li>
            <li>Credits</li>
            <li>News</li>
            <li>Cards</li>
            <li>Payments</li>
        </ul>
    </div>
    <app-header></app-header>
    <section class="content-container">
        <router-outlet></router-outlet>
    </section>
    <app-footer></app-footer>
</div>