<footer class="footer-container">
    <div class="numbers-container">
        <div class="numbers-block">
            <p>+38 062 128 94 90</p>
            <p>+38 093 182 23 12</p>
        </div>
    </div>
    <div class="networks-images-container">
        <div class="networks-images-block">
            <a href="#"><img src="/assets/network_img/Instagram.png" alt="Instagram"></a>
            <a href="#"><img src="/assets/network_img/Facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/assets/network_img/Twitter.png" alt="Twitter"></a>
            <a href="#"><img src="/assets/network_img/Telegram.png" alt="Telegram"></a>
        </div>
    </div>
    <div class="license-container">
        <div class="license-block">
            <p>© 2023 Optimus Bank</p>
        </div>
    </div>
</footer>