<div class="content-box">
  <div id="debit-card" class="card-container">
    <div class="type-of-card-label-box">
      <p>Debit Card</p>
    </div>
    <div class="card-box">
      <div class="card">
        <div class="logo-box">
          <h4 class="logo-label">Optimus Bank</h4>
          <h5>Debit-card</h5>
        </div>
        <div class="card-number-box">
          <p>0000 0000 0000 0000</p>
        </div>
        <div class="date-cvv2-box">
          <p>00/00</p>
          <p>000</p>
        </div>
      </div>
    </div>
    <div class="function-of-card">
      <h3>Function of debit card</h3>
      <div class="function-box">
        <ul>
          <li>You can pay for purchases on the Internet.</li>
          <li>Transfer funds from your own card to another card.</li>
          <li>Get a scholarship, pension or salary for it.</li>
          <li>Even pay off loans with it.</li>
        </ul>
      </div>
      <div class="order-box">
        <div class="order-label-box">
          <a routerLink="/create-debit-card">Order</a>
        </div>
      </div>
    </div>
  </div>
  <div id="credit-card" class="card-container">
    <div class="type-of-card-label-box">
      <p>Credit Card</p>
    </div>
    <div class="card-box">
      <div class="card">
        <div class="logo-box">
          <h4 class="logo-label">Optimus Bank</h4>
          <h5>Credit-card</h5>
        </div>
        <div class="card-number-box">
          <p>0000 0000 0000 0000</p>
        </div>
        <div class="date-cvv2-box">
          <p>00/00</p>
          <p>000</p>
        </div>
      </div>
    </div>
    <div class="function-of-card">
      <h3>Function of credit card</h3>
      <div class="function-box">
        <ul>
          <li>You can pay for purchases on the Internet.</li>
          <li>Transfer funds from your own card to another card.</li>
          <li>Even pay off loans with it.</li>
          <li class="star">If there are no funds, they can be withdrawn from a credit card at 3.5% per month of the credit debt.</li>
          <li class="star">The maximum withdrawal amount is 10,000$.</li>
        </ul>
      </div>
      <div class="order-box">
        <div class="order-label-box">
          <a routerLink="/create-credit-card">Order</a>
        </div>
      </div>
    </div>
  </div>
  <div id="junior-card" class="card-container">
    <div class="type-of-card-label-box">
      <p>Junior Card for Kids</p>
    </div>
    <div class="card-box">
      <div class="card">
        <img class="first-img" src="assets/toy1.png" alt="">
        <img class="second-img" src="assets/toy2.png" alt="">
        <img class="third-img" src="assets/toy3.png" alt="">
        <div class="logo-box">
          <h4 class="logo-label">Optimus Bank</h4>
          <h5>Junior-card</h5>
        </div>
        <div class="card-number-box">
          <p>0000 0000 0000 0000</p>
        </div>
        <div class="date-cvv2-box">
          <p>00/00</p>
          <p>000</p>
        </div>
      </div>
    </div>
    <div class="function-of-card">
      <h3>Function of debit card</h3>
      <div class="function-box">
        <ul>
          <li>Junior card for children from 6 to 17 years old.</li>
          <li>Transfer funds from your own card to another card.</li>
          <li>The ability to control the child's expenses.</li>
        </ul>
      </div>
      <div class="order-box">
        <div class="order-label-box">
          <a routerLink="/create-junior-card">Order</a>
        </div>
      </div>
    </div>
  </div>
</div>
